doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='img/png' href='/img/favicon.png')
            link(rel='stylesheet' type='img/png' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            title Natours #{title}
            link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="")
    body
        // Header
        include _header

        // Content
        block content
            h1 This is a placeholder

        // Footer
        include _footer

        //- script(src='https://unpkg.com/axios@1.6.7/dist/axios.min.js')
        //- script(src='/js/login.js')
        //- script(src='/js/leaflet.js')
        script(src='/js/bundle.js')
